<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Green</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sonic X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda: breath of the wild (buscando princesas que salvar otra vez)</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man :V</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario Galaxy</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
